#heading_pages_title_nobanner .page_title {font-family: 'Avenir-Black'; font-size: 55px; line-height: 61px; margin: 0; padding: 8.3% 0 1.8%;}
.title_qr {font-family: 'Avenir-Black' !important; font-size: 55px !important; line-height: 61px !important; margin: 0 !important; }
.topspace133 {height: 133px;}

.file_downloaded {padding: 0 0;}
.file_downloaded img {top: 29px; right: 15px; width: 30px;}
.file_downloaded h4 { width: 100%; float: left; font-family: 'Avenir-Medium'; font-size: 24px; line-height: 32px; color: #212120; padding:28px 60px 25px 20px; font-weight: normal;}
.file_downloaded h4 a {color: #212120; display: inline-block;}
.file_downloaded h4 .palt{ padding-left: 20px; font-size:  }

#Accordions { margin: 100px 0 0 0; }
.accorddesc { display: none; padding-bottom: 30px;} 
.accorddiv h3 {position: relative; padding: 25px 0; font-size: 22px;}
.accorddiv p { color: #a7a9ac; } 
.accorddiv p a { color: #212120; }

.shareholder_info h6 {font-family: 'Avenir-Medium'; font-size: 20px; line-height: inherit; padding: 30px 0; color: #a7a9ac; font-weight: normal;}
.shareholder_info h6 a {color: #a7a9ac; display: inline-block;}

.shareholder_info_latestupdate .file_downloaded h4 {font-size: 20px;}

.file_downloaded_fillreport {}

#frmDividendCalculator .input { text-align: center; color: #a7a9ac; -webkit-appearance: none; border-radius: 0px; }
#frmDividendCalculator label.error { text-align: center; color: red; padding-top: 7px; display: block; font-size: 14px; }
#frmDividendCalculator #btnsubmit { -webkit-appearance: none; border-radius: 0px; cursor: pointer; background: #fff !important; box-shadow: none !important; border: 0px; font-weight: normal; font-size: 16px; font-family: 'Avenir-Medium'; }

#frmDividendCalculator .has_selectbox label.error {
	position: absolute;
	bottom: -20px;
	left: 0px;
	width: 100%;
}

.shares_nse_bse a{font-size: 16px; padding: 40px 0px 0; font-family: 'Avenir-Medium'; line-height: 24px;}
.shares_nse_bse .learnmore:after {width: 100%;}
.shares_nse_bse h3{padding-bottom: 50px;}
/*Mobile*/

@media only screen and (max-width: 768px) {
#heading_pages_title_nobanner .page_title { font-size: 36px; line-height: 40px; padding: 0 0 0px;}
.title_qr { font-size: 36px !important; line-height: 40px !important; padding: 0 0 0px !important; }

.file_downloaded img {top: 50%; transform: translateY(-50%); width: 24px; right: 15px;}
.file_downloaded h4 {font-size: 18px; line-height: 28px; padding:20px 55px 20px 16px;}

.accorddiv h3 {font-size: 18px;}

.shareholder_info h6 {font-size: 16px; }
.shares_nse_bse img{text-align: center; padding: 0 0px 30px;}
.shares_nse_bse a {padding: 0 0;}
}