/*HOMEPAGE*/
#banner_people {background: url(../images/people/landing/Banner_People_01.jpg) no-repeat center center; background-size: cover;}
#banner_people01 {background: url(../images/people/landing/Banner_People_02.jpg) no-repeat center center; background-size: cover;}
#banner_people02 {background: url(../images/people/landing/Banner_People_03.jpg) no-repeat center center; background-size: cover;}

.diversity {background: #7ada62;}
.diversity p {color: #5fa854;}
.diversity .h_green_white:hover, .diversity .h_green_white:active, .diversity .h_green_white:focus {color: #7ada62;}

#meet-godrej img {margin-bottom: 30px;}
#meet-godrej h2 {font-size: 95px; line-height: 90px; color: #212120; display: inline-block; font-family: 'Seaside-Groove-Regular'; font-weight: normal; text-align: right; padding-right: 30px; margin:20px 0 40px;}
#meet-godrej .learnmore {padding: 15px 38px 14px; background: #fff; bottom: 15%; position: absolute !important; z-index: 9999;}
#meet-godrej .learnmore::after{display: none;}

#join_us_profile .col-md-2 {width: 20%; float: left; padding: 0;}
#join_us_profile h4 {font-family: 'Avenir-Medium'; font-weight: normal; font-size: 40px; line-height: inherit; color: #fff; margin-bottom: 5%; text-shadow: 0 0 15px rgba(0,0,0,0.4)} 
#join_us_profile a {color: #fff;}
#join_us_profile .learnmore:after {background: #fff;}
#join_us_profile .bg_op_grey {background: rgba(18,18,20,0.3); height: 100%; width: 100%; z-index: 99; content: ''; float: left; position: absolute; left: 0; top: 0;}


@media only screen and (max-width: 768px) {

#banner_people {background: url(../images/people/landing/mobile/Banner_People_01.jpg) no-repeat center center; background-size: cover;}
#banner_people01 {background: url(../images/people/landing/mobile/Banner_People_02.jpg) no-repeat center center; background-size: cover;}
#banner_people02 {background: url(../images/people/landing/mobile/Banner_People_03.jpg) no-repeat center center; background-size: cover;}
#meet-godrej h2 {display: block; text-align: center !important; padding-right: 0 !important; font-size: 40px !important; line-height: 46px !important;}

#join_us_profile h4 {font-size: 17px;}
#join_us_profile .learnmore {font-size: 15px;}
#meet-godrej .learnmore {
    padding: 10px 29px 10px;
    background: #fff;
    bottom: 37%;
    font-size: 14px;
    position: absolute !important;
    z-index: 9999;
}

#join_us_profile .col-xs-4 {width: 33.3333%;}

#diversity-people .container-fluid {padding-left: 5px; padding-right: 5px;}
#diversity-people .col-xs-3, #diversity-people .col-xs-6, #diversity-people .col-xs-12 {padding-left: 5px; padding-right: 5px;}
#diversity-people .row {margin-left: -5px; margin-right: -5px;}
#diversity-people img {margin-bottom: 10px !important;}
/*#diversity-people .title_desc_left p {font-size: 11px; line-height: 18px;}*/
#diversity-people .videoplayic {width: 40px; height: 40px;}
#diversity-people .videoplayic::before {border-width: 8px 0 8px 12px !important;}
#diversity-people .learnmore {font-size: 12px; line-height: inherit;}
#diversity-people .title_desc_left .desc {margin-bottom: 0;}
#diversity-people .title_desc_left p {margin-bottom: 10px;}

}
